%action-button {
    padding: 10px;
    font-size: 2em;
    background-color: var(--headerBgColorAccent);
    color: var(--headerTextColor);
    border: none;
}

.rhea-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    .rhea-content {
        overflow-y: auto;
        overflow-x: hidden;
    }
    
}