<div class="rhea-container">
  <div class="rhea-content">

    
    <div *ngFor="let category of categories">
      <h2>{{category === 'other' ? 'Autres' : category}}</h2>
      <div *ngFor="let item of sortCategoryObject[category]">
          <rhea-card 
            [title]="item.name" 
            [description]="item.description"
            [additionalText]="item.price * item.quantity + '€'"
            [circleText]="item.quantity - item.done" 
            [quantity]='item.quantity'
            [done]="item.done"
            [checked]='item.done === item.quantity'
            (click)="doneIncrement(item)"
            (action)="openActionMenu(item)"
            (checkedChange)="doneIncrement(item, $event)"
            ></rhea-card>
        </div>
      </div>
  </div>
  <rhea-bar-bottom (action)='addItem()'>
    {{ shoppingList?.items?.length }} item{{shoppingList?.items?.length ? 's': ''}} au total
  </rhea-bar-bottom>
</div>

<clt-popup #addPopup title="Ajouter une liste de course">
  <div title>
    Ajouter dans la liste
  </div>
  <ng-template clt-popup-body>
    <form [formGroup]="addItemForm">
      <label>Nom</label>
      <input 
        type="text"
        formControlName="name"
        [cltValidators]="addItemForm.controls['name']"
        cltAutocomplete [source]="items" property="name" [model]="addItemForm.controls['name']"/>
      <clt-form-errors [model]="addItemForm.controls['name']"></clt-form-errors>
      <label>Description</label>
      <input type="text" formControlName="description" [cltValidators]="addItemForm.controls['description']" />
      <clt-form-errors [model]="addItemForm.controls['description']"></clt-form-errors>
      <label>Quantité</label>
      <input type="number" formControlName="quantity" [cltValidators]="addItemForm.controls['quantity']" />
      <clt-form-errors [model]="addItemForm.controls['quantity']"></clt-form-errors>
    </form>
  </ng-template>
</clt-popup>

<clt-popup #deletePopup body="Voulez-vous vraiment supprimer cette item ?">
  <div title>
    Supprimer un item
  </div>
</clt-popup>

<clt-side-panel #actionMenu direction="bottom" [noActions]="true">
  <div title>
    {{actionMenu.context?.name}}
  </div>
  <div *clt-popup-body>
    <ul>
      <li (click)="updateItem(actionMenu.context)">Modification dans la liste</li>
      <li routerLink="/items/{{actionMenu.context?.uuid}}">Modification</li>
      <li (click)="deleteItem(actionMenu.context)">Suppression</li>
    </ul>
  </div>
</clt-side-panel>