<div class="rhea-container">
  <div class="rhea-content">
    <rhea-card 
      [title]="item.name" 
      [description]="item.description"
      [circleText]="item.quantity - item.done" 
      [quantity]='item.quantity'
      [done]="item.done"
      *ngFor='let item of shoppingList?.items' 
      (click)="doneIncrement(item)"></rhea-card>
  </div>
  <rhea-bar-bottom (action)='addItem()'>
    {{ shoppingList?.items?.length }} liste{{shoppingList?.items?.length ? 's': ''}} au total
  </rhea-bar-bottom>
</div>

<clt-popup #addPopup title="Ajouter une liste de course">
  <div title>
    Ajouter dans la liste
  </div>
  <ng-template clt-popup-body>
    <form [formGroup]="addItemForm">
      <label>Nom</label>
      <input type="text" formControlName="name" [cltValidators]="addItemForm.controls['name']" />
      <clt-form-errors [model]="addItemForm.controls['name']"></clt-form-errors>
      <label>Description</label>
      <input type="text" formControlName="description" [cltValidators]="addItemForm.controls['description']" />
      <clt-form-errors [model]="addItemForm.controls['description']"></clt-form-errors>
      <label>Quantité</label>
      <input type="number" formControlName="quantity" [cltValidators]="addItemForm.controls['quantity']" />
      <clt-form-errors [model]="addItemForm.controls['quantity']"></clt-form-errors>
    </form>
  </ng-template>
</clt-popup>