@import '../../../sdk';
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    width: calc(100% - 30px);
    &>.action {
        flex-grow: 0;  
    }
    &>.desc {
        flex-grow: 1;  
        margin-right: 10px
    }
}
#convert {
    width: calc(100% - 20px);
    margin: 10px;
}
.categoryContent {
    overflow: hidden;
    border-bottom: 1px solid #c9d0d3;
    padding-bottom: 10px;
    &.close {
        max-height: 0
    }
}