<div class="rhea-container">
  <div class="rhea-content">
    <rhea-card *ngFor="let category of categories"
      [title]="category.name"
      additionalText="{{category.items.length}} items"
      [noCheckBox]="true"
      (action)="openActionMenu(category)"
    ></rhea-card>
  </div>
  <rhea-bar-bottom (action)='addCategory()'>
    {{ categories.length }} categorie{{categories.length ? 's': ''}} au total
  </rhea-bar-bottom>
</div>

<clt-popup #addPopup width="95vw">
  <div title>
    {{addPopup.context?.title}}
  </div>
  <ng-template clt-popup-body>
    <form [formGroup]="addCategoryForm">
      <label>Nom</label>
      <input type="text" formControlName="name" [cltValidators]="addCategoryForm.controls['name']"/>
      <clt-form-errors [model]="addCategoryForm.controls['name']"></clt-form-errors>

      <p-table #dt [value]="items" [(selection)]="selectedItems" dataKey="uuid" [paginator]="true" [rows]="10" [globalFilterFields]="['name','category.name']">
        <ng-template pTemplate="caption">
          Liste des items
          <input type="text" placeholder="Global Filter" (keyup)="dt.filterGlobal($event.target.value, 'contains')" >
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="checkbox"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th>Item</th>
            <th>Catégorie</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
            <td>{{item.name}}</td>
            <td>{{item.category?.name}}</td>
          </tr>
        </ng-template>
      </p-table>
    </form>
  </ng-template>
</clt-popup>

<clt-popup #deletePopup body="Voulez-vous vraiment supprimer cette categorie ?">
  <div title>
    Supprimer une categorie
  </div>
</clt-popup>

<clt-side-panel #actionMenu direction="bottom" [noActions]="true">
  <div title>
    {{actionMenu.context?.name}}
  </div>
  <div *clt-popup-body>
    <ul>
      <li (click)="updateCategory(actionMenu.context)">Modification</li>
      <li (click)="deleteCategory(actionMenu.context)">Suppression</li>
    </ul>
  </div>
</clt-side-panel>