@import '../../../sdk';
::ng-deep {
    .panel-container{
        background-color: white;
        width: auto !important;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.ingredients {
    
    li {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        border-left: 5px solid var(--headerBgColor);
        &.notenough {
            border-left: 5px solid red;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
            font-size: 1.2em;
            padding: 10px;
        }
    }
}
textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-left: 5px solid var(--headerBgColor);

}