<div class="rhea-card">
  <div class="rhea-card-check {{checked ? 'checked' : ''}}" (click)="toggleCheck()">
  </div>
  <div class="rhea-card-content">
    <div class="rhea-card-title" *ngIf="title">
      {{ title }}
    </div>
    <div class="rhea-card-description" *ngIf="description">
      {{ description }}
    </div>
  </div>
  <div class="rhea-card-actions" *ngIf="!noAction">
    <i class="rhea-card-action" *ngIf="additionalText"> {{additionalText}}</i>
    <div class="rhea-card-action circle" *ngIf="circleText">{{circleText}}</div>
    <i class="rhea-card-action {{actionIcon ? actionIcon : 'fas fa-sliders-h'}}" *ngIf="!noAction"  (click)="action.emit(uuid)"></i>
  </div>
</div>