<div id="app-container" *ngIf="authservice.auth; else authPage">
    <clt-sidebar [conf]="sidebarConf"></clt-sidebar>
    <div id="app-content">
        <clt-navbar [name]="getName()">
        </clt-navbar>
        <div class='msg' *ngIf="update">
            <a href="http://vps573766.ovh.net:3000/rhea.apk">Mise à jour disponible v{{actualVersion}} -> v{{remoteVersion}}</a>
        </div>
        <div id="app-outlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<ng-template #authPage>
    <auth-page></auth-page>
</ng-template>