#app-container{
    display: flex;
    height: 100vh;
    overflow: hidden;
    #app-content {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100vh;
        width: 100%;
        #app-outlet{
            height: 100%;
            overflow-y: auto;
            background-color: #f7f7f7;
        }
    }
}
.trigger {
    position: absolute;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
.msg {
    background-color: var(--stateActiveBgColor);
    color: white;
    padding: 10px;
    text-decoration: underline;
}
@keyframes closeSidebarMobile {
    100% { width: 0; }
}
@keyframes openSidebarMobile {
    100% { width: 80vw; }
}
::ng-deep {
    #navbar {
        #left {
            margin-left: 2em !important;
        }
    }
    #sidebar{
        &:before {
            height: 60px !important;
            display: inline-table !important;
        }
        @media screen and (max-width: 640px) {
            &.openSidebar {
                animation-name: openSidebarMobile !important;
            }
            &.closeSidebar {
                animation-name: closeSidebarMobile !important;
            }
        }
    }



    $sidebarWidth:175px;
    $sidebarWidthClose:10px;


    @keyframes openSidebar {
    0% {width: $sidebarWidthClose;}
    to {width: $sidebarWidth;}
    }
    @keyframes closeSidebar {
    0% {width: $sidebarWidth;}
    to {width: $sidebarWidthClose;}
    }
    @keyframes openSidebarDescription {
    0% {width: 0;}
    to {width:$sidebarWidthClose}
    }
    @keyframes closeSidebarDescription {
    0% {width:$sidebarWidthClose}
    to {width:0}
    }

    #sidebar {
        transition: width 0.4s;
    }
    .openSidebar {
        animation: none !important;
        width: 75vw !important;
    }
    .closeSidebar {
        animation: none !important;
        width: 0px !important;
    }
}


