%action-button {
    padding: 10px;
    font-size: 2em;
    background-color: var(--headerBgColorAccent);
    color: var(--headerTextColor);
    border: none;
}

.rhea-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    .rhea-content {
        overflow-y: auto;
        overflow-x: hidden;
    }
    .rhea-bar-bottom {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid var(--headerBgColor);
        .rhea-bar-content {
            padding: 10px;
        }
        .action-button {
            @extend %action-button;
        }
    }
}