
<div class="rhea-container">
  <div class="rhea-content">
    <a routerLink="./{{shoppingList.uuid}}" *ngFor='let shoppingList of shoppingLists'>
      <rhea-card
        [title]="shoppingList.name"
        [description]="shoppingList.description"
      ></rhea-card>
    </a>
  </div>
  <rhea-bar-bottom (action)='addShoppingList()'>
     {{ shoppingLists.length }} liste{{shoppingLists.length ? 's': ''}} au total
  </rhea-bar-bottom>
</div>

<clt-popup #addPopup title="Ajouter une liste de course">
  <div title>
    Ajouter une liste de course 
  </div>
  <ng-template clt-popup-body>
    <form [formGroup]="shoppingListForm">
      <label>Nom</label>
      <input type="text" formControlName="name" [cltValidators]="shoppingListForm.controls['name']" />
      <clt-form-errors [model]="shoppingListForm.controls['name']"></clt-form-errors>
      <label>Description</label>
      <input type="text" formControlName="description" [cltValidators]="shoppingListForm.controls['description']" />
      <clt-form-errors [model]="shoppingListForm.controls['description']"></clt-form-errors>
    </form>
  </ng-template>
</clt-popup>