@import '../../../sdk';

.marmitonInput {
    margin: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}
.ingredients{
    margin-top: 10px;
    .items{
        .itemDescription {
            display: flex;
            align-content: center;
        }
        .quantity{
            width: 30px
        }
        .itemAssociations {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-content: center;
            .itemAssociation{
                color: var(--headerBgColor);
                border: 1px solid var(--headerBgColor);
                margin: 5px;
                padding: 5px;
                border-radius: 4px;
            }
        }
    }
}