@import '../../../sdk';
::ng-deep {
  .panel-container {
    background-color: white;
    width: auto !important;
  }
  clt-panel[header="Export"] {
    // display: none
  }
}
.deconnection {
      width: 100%;
      box-sizing: border-box;
      min-width: 100%;
      max-width: 100%;
      font-weight: bold;
}

.version {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #9a9a9a;
}