/* You can add global styles to this file, and also import other style files */
@import './reset';
@import '~ngx-callisto/src/styles.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~semantic-ui-progress/progress.min.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lightness/theme.css';
html, body {
    height: 100vh;
}
a {
    color: inherit;
    text-decoration: none;
}

input{
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
clt-side-panel {
  ul {
    margin: 0;
    padding: 0;
    li {
      border-bottom: var(--contentBorderWidth) solid var(--contentBorderColor);
      padding: 10px;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
#navbar #description {
  font-weight: bold;
}
.host-container{
  min-width: 0 !important;
}
button {
  padding: 10px;
  background-color: var(--headerBgColor);
  color: white;
  border: none;
  &:active {
    background-color: var(--stateActiveBgColor)
  }
}

#navbar {
  box-shadow: 0 2px 11px rgba(0,0,0,0.8) !important;
  z-index: 10;
}


#sidebar::before {
  width: 100%;
}

.panel-container .panel-header .panel-actions button{
  background-color: transparent !important;
}
  
.host .host-container .host-title .close {
  background-color: transparent !important;
}
#theme-manager{
  max-width: initial !important;
}