/* You can add global styles to this file, and also import other style files */
@import './reset';
@import '~ngx-callisto/src/styles.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~semantic-ui-progress/progress.min.css';
@import '~primeicons/primeicons.css';
html, body {
    height: 100vh;
}
a {
    color: inherit;
    text-decoration: none;
}

input{
    margin-bottom: 0;
}
clt-side-panel {
  ul {
    margin: 0;
    padding: 0;
    li {
      border-bottom: var(--contentBorderWidth) solid var(--contentBorderColor);
      padding: 10px;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
#navbar #description {
  font-weight: bold;
}
.host-container{
  min-width: 0 !important;
}
button {
  padding: 10px;
  background-color: #466c80;
  color: white;
  border: none;
  &:active {
    background-color: var(--stateActiveBgColor)
  }
}